core-header-panel {
    background: #00d6b2;
    /* height: 100% fails here on some browsers */
    height: 100vh;
    width: 100vw;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
core-toolbar {
    display: block;
    background-color: #00d6b2;
    color: white;
}
p {
    margin: 20px;
    padding: 20px 20px;
    border-radius: 10px;
    background-color: #eee;
}
#tabs {
    width: 100%;
    margin: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-transform: uppercase;
}
@media (min-width: 481px) {
    #tabs {
        width: 220px;
    }
    .container {
        width: 440px;
    }
}